/places
/secrets.el
/bookmarks
/projectile-bookmarks.eld
/projectile.cache
/projects
/transient
/image-dired
.dap-breakpoints
.org-id-locations
/.extension/
/eshell
/elpa
/tree-sitter/
/tree-sitter/bin/*
!/tree-sitter/bin/
gnus.el
history
custom-vars.el
.gnus.el
.newsrc
.newsrc-dribble
.newsrc.eld
.nrewsrc.eld
/newsticker
.authinfo*
recentf.el*
saveplace
cert.pem
multisession/
tmp/
cache/*
eln-cache/*
eaf/*
eca/*
eglot-java-eclipse-jdt-cache/*
straight/*
AGENTS.md
